<a href="https://colab.research.google.com/github/SachinScaler/PythonModule2May24/blob/main/Beginner_2_Problem_Solving_Session%7CLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
previous_read= 200
current_read= 650

consumption = current_read - previous_read

total_charge = 150

if consumption<=100:
    total_charge = total_charge + consumption * 3.5
elif consumption<=200:
    total_charge = total_charge + 100 * 3.5 + (consumption-100) * 5
else:
    total_charge = total_charge + 100 * 3.5 + 100 * 5 + (consumption-200) * 8

total_charge

3000.0

105-> 100*3.5 + 105-100*5

1. For the first 100 units consumed: 3.5 rs/unit

2. For the next 100 units consumed: 5 rs/unit

3. For remaining units consumed: 8 rs/unit

In [2]:
10/(0.+0)

ZeroDivisionError: float division by zero

In [ ]:
class Student():

    def __init__(self, marks1,marks2,credits1, credits2):
        #YOUR CODE GOES HERE
        self.marks1 = marks1
        self.marks2 = marks2
        self.credits1 = credits1
        self.credits2 = credits2

    def calculate_credit(self, marks):
        # TODO: Replace if else with this function call
        pass

    def grade_point_average(self):
        gpa=0

        if self.credits1==0 and self.credits2==0:
            return -1.0
        """
        1. If marks>=90:10 points
        2. If 90>marks>=75: 9 points
        3. If 75>marks>=60: 8 points
        4. If 60>marks>=45: 7 points
        5. If marks<45: 0 points
        """
        #YOUR CODE GOES HERE
        if self.marks1>=90:
            self.points1 = 10
        elif self.marks1>=75:
            self.points1 = 9
        elif self.marks1>=60:
            self.points1 = 8
        elif self.marks1 >=45:
            self.points1 = 7
        else:
            self.points1 = 0

        if self.marks2>=90:
            self.points2 = 10
        elif self.marks2>=75:
            self.points2 = 9
        elif self.marks2>=60:
            self.points2 = 8
        elif self.marks2 >=45:
            self.points2 = 7
        else:
            self.points2 = 0

        gpa = ((self.points1*self.credits1) + (self.points2*self.credits2))/(self.credits1 + self.credits2)
        return round(gpa,2)

In [4]:
# super to call parents method
class A:
    def __init__(self):
        print("Init of Parent Invoked")
class B(A):
    def __init__(self):
        super().__init__()
b1 = B()

Init of Parent Invoked

In [7]:
# alternate Method to call parents method: className.methodname(self)
class A:
    def __init__(self):
        print("Init of Parent Invoked")
class B(A):
    def __init__(self):
        A.__init__(self)
b1 = B()

Init of Parent Invoked

In [10]:
class A:
   def one(self):
       return self.two() # invoking method two() self if object of Clas B
   def two(self):
       return 'A'
class B(A):
   def two(self):
       return 'B'
obj= B()
B.__mro__

(__main__.B, __main__.A, object)

In [11]:
print(obj.one())# B.one()

B

In [16]:
class Parent:
  def __init__(self):
    pass
  def print(self):
    print("60")

class Child(Parent):
   def __init__(self):
      pass
   def type(self): # This block has to be completed.
       #super().print()
       #Parent.print(self)
       self.print()

C=Child()
C.type()

60

In [18]:
string = "Iandjfanreinafsd"

vowels = "AEIOUaeiou"

vowel_count = 0
for char in string:
    if char in vowels:
        vowel_count+=1
print(vowel_count)

6

In [20]:
len(string)-vowel_count

10

In [21]:
h1 = 1
m1 = 10 # 1:10
h2 = 0
m2 = 50 # 0: 50

In [24]:
m_total = m2+m1
m_total

60

In [26]:
h_total = h2+h1
h_total

1

In [ ]:
if m_total>=60:
    h_total+=1
    m_total= m_total-60

In [ ]:
1:60--> 2 hours

In [27]:
"""
1:65--> 2:05
60-minutes-->5 and add 1 to hour: 1+1:65-60
"""

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-27-9e193cd8b3dd>, line 1)

In [52]:
students = ["A", "C", "B", "D", "E"]
scores = [10,1,12,3, 3]

nested_list = []
for i in range(len(students)):
    nested_list.append([students[i],scores[i] ])
nested_list

# Pure FP:list(map(lambda x: list(x), zip(students,scores )))

[['A', 10], ['C', 1], ['B', 12], ['D', 3], ['E', 3]]

In [53]:
nested_list

[['A', 10], ['C', 1], ['B', 12], ['D', 3], ['E', 3]]

In [54]:
sorted(nested_list) # default is first index of nested list

[['A', 10], ['B', 12], ['C', 1], ['D', 3], ['E', 3]]

In [55]:
# one_element: ['A', 10]
def some_func(x):
    return x[1]

sorted(nested_list , key = some_func) # key expects a function and sorted will all members one by one to this function

[['C', 1], ['D', 3], ['E', 3], ['A', 10], ['B', 12]]

- map: also does same thing

In [56]:
sorted(nested_list , key = lambda x: x[1])

[['C', 1], ['D', 3], ['E', 3], ['A', 10], ['B', 12]]

In [57]:
second_lowest_marks = sorted(nested_list , key = lambda x: x[1])[1][1]
second_lowest_marks

3

In [59]:
# second_lowest_name = sorted(nested_list , key = lambda x: x[1])[1][0]
# second_lowest_name
second_lowest_name = []
for i in range(len(students)):
    if scores[i]==second_lowest_marks:
        second_lowest_name.append(students[i])
second_lowest_name

['D', 'E']

In [64]:
## Alternative: PURE FP SOLUTION
nested_list = list(map(lambda x: list(x), zip(students,scores )))
second_lowest_marks = sorted(nested_list , key = lambda x: x[1])[1][1]
second_lowest_name = list(map(lambda x: x[0], filter(lambda x: x[1]==second_lowest_marks,nested_list)))
second_lowest_name

['D', 'E']

In [70]:
nested_list
(lambda x : [i[0] for i in x if i[1]==second_lowest_marks])(nested_list)

['D', 'E']

In [72]:
def display():
    print("In Display")
print(display())

In Display
None

In [76]:
class fruits:
    def __init__(self, price):
        self.price = price

obj=fruits(50)
obj.quantity=10
obj.bags=2

print(obj.quantity+len(obj.__dict__))

13

In [74]:
obj.quantity

10

In [75]:
obj.__dict__

{'price': 50, 'quantity': 10, 'bags': 2}

[['S ROY', 1.0], ['B BOSE', 3.0], ['N KAR', 2.0], ['C DUTTA', 1.0], ['G GHOSH', 1.0]]
2.0
N KAR

In [79]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student("Emma",10) #blank1
s1.subject_name="Machine Learning" # Student.subject_name
print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Machine Learning

In [ ]:
#Emma 10 Machine Learning