<a href="https://colab.research.google.com/github/SachinScaler/PythonModule2May24/blob/main/Functional_Programming_2_Map%2C_Filter%2C_Reduce%7CLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Convert the given heights from a list into to t-shirt sizes.
"

In [2]:
list1 = [1,2,3,4,5]

out = map(lambda x: x**2, list1)
print(out)

<map object at 0x79bd822e7b80>

In [3]:
for i in map(lambda x: x**2, list1):
    print(i)

1
4
9
16
25

In [7]:
out = list(map(lambda x: x**2, list1))
print(out)

[1, 4, 9, 16, 25]

In [8]:
nums = "1 2 3 4 5"
nums.split()

['1', '2', '3', '4', '5']

In [10]:
list(map(int, nums.split()))

[1, 2, 3, 4, 5]

In [11]:
list(map(int, input().split()))

1 2 3 4 5

[1, 2, 3, 4, 5]

In [1]:
heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]
# ['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

def cm_size(h):
    pass
    """
    * h < 150 → S

    * h >= 150 and h < 180 → M

    * h >= 180 → L

    return size
    """

list_size = []
for i in heights:
    size = cm_size(i)
    list_size.append(size)

In [14]:
heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]

list(map(lambda x: "S" if x<150 else "M" if x >= 150  and  x<180 else "L", heights))

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [13]:
def cm_size(h):
    pass
    """
    if * h < 150 → S

    elif * h >= 150 and h < 180 → M

    else * h >= 180 → L

    return size
    """

(lambda x: "S" if x<150 else "M" if x >= 150  and  x<180 else "L")(180)

'L'

### Given two lists A and B having 1s and 0s, find another list with element at index i as True if A[i] == B[i] else False.

In [16]:
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

# C = [False, True, False,True....... ]

list(map(lambda x,y: x==y, A, B))

[False, True, False, True, False, True, False, False, True, False, True, False]

- map is slight faster then standard loops

### Filter

In [19]:
list1 = [1,2,3,4,5]

out = list(filter(lambda x: x%2==0, list1))
print(out)

[2, 4]

- student = [names]
- scores = [numbers]

In [20]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]


list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [21]:
dict(zip(a,b))

{1: 'a', 2: 'b', 3: 'c'}

In [22]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]
c = ["x", "y", "z", "m", "n", "k"]

list(zip(a,b,c))

[(1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z')]

reduce , * args, **kwargs

In [24]:
a = [1,2,3,4,5]

result = reduce(lambda x, y: x + y, a)
result

NameError: name 'reduce' is not defined

In [26]:
from functools import reduce

a = [1,2,3,4,5]
result = reduce(lambda x, y: x + y, a)
result

15

In [27]:
result = reduce(lambda x, y: x * y, a)
result

120

In [28]:
result = reduce(lambda x, y: x + y, a , 100)
result

115

## Args and Kwargs
Create a function that gives you the sum the input provided.

**should take at least - 2 arguments
or more then 2 args and returns sum of all**

In [32]:
def sum_numbers(x,y):
    print("x", x)
    print("y", y)
    return x+y

In [33]:
sum_numbers(10,9) # positional arguments

x 10
y 9

19

In [34]:
sum_numbers(9,10) # positional arguments

x 9
y 10

19

In [35]:
sum_numbers(y=9, x=10) # keyword arguments

x 10
y 9

19

In [36]:
sum_numbers(10,9,6) # func: without arbitrary args

TypeError: sum_numbers() takes 2 positional arguments but 3 were given

In [38]:
# arbitray arguments
def sum_numbers(x,y, *z):
    print("x", x)
    print("y", y)
    print("z", z)
    return x+y


sum_numbers(6,10)

x 6
y 10
z ()

16

In [39]:
sum_numbers(6,10, 11)

x 6
y 10
z (11,)

16

In [40]:
sum_numbers(6,10, 11 , 14, -1, 888)

x 6
y 10
z (11, 14, -1, 888)

16

In [46]:
def sum_numbers(x,y, *args):
    sum = x + y
    print("args", type(args))
    for i in args:
        sum += i
    return sum


sum_numbers(2,3)

args <class 'tuple'>

5

In [47]:
sum_numbers(2,3,5) # x =2 , y = 3, args = (5,)

args <class 'tuple'>

10

In [48]:
sum_numbers(2,3,5, 10,11) # x =2 , y = 3, args = (5,10,11)

args <class 'tuple'>

31

In [51]:
def some_funct(x,y, **kwargs):
    print("x", x)
    print("y", y)
    print("kwargs", kwargs)


some_funct(5,6,z = 9 , i=10)

x 5
y 6
kwargs {'z': 9, 'i': 10}

In [56]:
def create_person(name, age, gender, **extra_info):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }

    if extra_info:
        Person.update(extra_info)

    return Person

create_person(name = "Rohit", age = 30, gender = "Male")

{'name': 'Rohit', 'age': 30, 'gender': 'Male'}

In [57]:
create_person(name = "Rohit", age = 30, gender = "Male", color = "blue", hobby = "chess")

{'name': 'Rohit',
 'age': 30,
 'gender': 'Male',
 'color': 'blue',
 'hobby': 'chess'}

In [61]:
def random(x, y, *args,def_ar=10, **kwargs):
    print(x)
    print(args)
    print(kwargs)

random(1,2,4,5,6,m=1,n=2,o=3,8,9,0)

SyntaxError: positional argument follows keyword argument (<ipython-input-61-efe5583386e9>, line 6)

In [63]:
def sample_func(x, y, *args, **kwargs):
    return x, y, args, kwargs

sample_func(1, 2, 3, 4, a=5, b=6)

(1, 2, (3, 4), {'a': 5, 'b': 6})