<a href="https://colab.research.google.com/github/SachinScaler/May24Python2/blob/main/OOPS_1_Introduction%7CLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Empty Class
class BankAccount:
    pass

In [3]:
ba1 = BankAccount()# object/instance of BankAccount Class

In [5]:
print(type(ba1))

<class '__main__.BankAccount'>

In [6]:
list1 = [1,2,3] # general purpose data structure defined using class List
print(type(list1))

<class 'list'>

In [7]:
help(list1)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [9]:
## Empty Class
class Student:
    pass

st1 = Student()

In [10]:
st1

In [11]:
ba1

isinstance(object,class): True or False by checking if object belongs to class

In [12]:
isinstance(ba1, Student)

False

In [13]:
isinstance(ba1, BankAccount)

True

In [15]:
isinstance(st1, BankAccount)

False

In [16]:
isinstance(st1, object)

True

In [17]:
isinstance(ba1, object)

True

In [18]:
isinstance(list1, object)

True

In [19]:
isinstance(BankAccount, object)

True

In [20]:
class bankaccount:
    pass

# not preferred
ba1 = bankaccount()

In [21]:
class BankAccount:
    pass

ba1 = BankAccount()

### Behaviour

In [25]:
class BankAccount:
    def check_balance(): # method of Class BankAccount
        print("Balance is 100")

In [26]:
ba1 = BankAccount() # instance of Class BankAccount

In [27]:
check_balance()

NameError: name 'check_balance' is not defined

In [30]:
ba1.check_balance()

TypeError: BankAccount.check_balance() takes 0 positional arguments but 1 was given

- since instance is passed automatically to every method, methods must have a parameter to store instance

In [37]:
# let's redefine method with parameter: self
class BankAccount:
    def check_balance(self): # method of Class BankAccount
        print("ID of Self: ",id(self)) # proof that self contains the calling instance
        print("Balance is 100")

ba1 = BankAccount() # instance
print(id(ba1))

134194696578832

In [38]:
ba1.check_balance()

ID of Self:  134194696578832
Balance is 100

In [40]:
ba2 = BankAccount()  # instance
print(id(ba2))
ba2.check_balance() # what will be stored in self

134194696582576
ID of Self:  134194696582576
Balance is 100

### Let's define some properties/attributes/variables

In [64]:
## acc_id, customer_name , balance
class BankAccount:
    bank_name = "SBI" # class Variable/static Variable
    def __init__(self, acc_id, name, bal):
        self.acc_id = acc_id
        self.customer_name = name
        self.balance = bal

    def check_balance(self): # method of Class BankAccount
        print("Balance is",self.balance)

ba1 = BankAccount(100, "Sachin", 100)  # instance

In [65]:
ba1.check_balance()

Balance is 100

In [66]:
print(ba1.balance)

100

In [67]:
print(ba1.customer_name)

Sachin

In [68]:
ba2 = BankAccount()  # instance
ba2.check_balance()

TypeError: BankAccount.__init__() missing 3 required positional arguments: 'acc_id', 'name', and 'bal'

In [69]:
ba2 = BankAccount(101, "Naveen", 999)  # instance
ba2.check_balance()

Balance is 999

In [70]:
print(ba2.customer_name)

Naveen

In [71]:
ba2.balance = 10000

In [72]:
ba1.check_balance()

Balance is 100

In [73]:
ba2.check_balance()

Balance is 10000

In [74]:
ba2.__dict__ # converts instance into dictionary

{'acc_id': 101, 'customer_name': 'Naveen', 'balance': 10000}

In [75]:
ba1.__dict__

{'acc_id': 100, 'customer_name': 'Sachin', 'balance': 100}

In [76]:
ba2.pan_card = "FW12341"

In [77]:
ba2.__dict__

{'acc_id': 101,
 'customer_name': 'Naveen',
 'balance': 10000,
 'pan_card': 'FW12341'}

In [78]:
ba1.__dict__

{'acc_id': 100, 'customer_name': 'Sachin', 'balance': 100}

In [79]:
ba1.bank_name

'SBI'

In [80]:
ba2.bank_name

'SBI'

In [81]:
## another way to access Class Variable
BankAccount.bank_name

'SBI'

In [82]:
## can we use class to access instance variable
BankAccount.customer_name

AttributeError: type object 'BankAccount' has no attribute 'customer_name'

In [83]:
class Student:
    name = "Bipin"
    def __init__(self, name, age):
        self.name = name # class var will get overwritten by Instance Variable
        self.age = age

    def hello(self):
      print(f"Hello {self.name}")

bipin = Student("Ayush", 20)
bipin.hello()

Hello Ayush

In [84]:
Student.name # it's accessing class var

'Bipin'

In [85]:
bipin.name

'Ayush'

In [87]:
class Calculator:
    def __init__(self, number):
        self.number = number

    def multiply_by_two(self):
        return self.number * 2 # we are not self.number = self.number * 2

calc = Calculator(3)
calc.number

3

In [88]:
print(calc.multiply_by_two())

6

In [89]:
calc.number

3

### HOMEWORK:
```
class BankAccount:
    bank_name = "SBI" # class Variable/static Variable
    def __init__(self, acc_id, name, bal):
        self.acc_id = acc_id
        self.customer_name = name
        self.balance = bal

    def check_balance(self): # method of Class BankAccount
        print("Balance is",self.balance)

ba1 = BankAccount(100, "Sachin", 100)  # instance
```

Easy Questions:
Update the above class to contain functionalies
- withdraw: takes in amount and reduces the balance by the amount
- deposit: takes in amount and add to the balance


Complex Question:
Intialize acc_id with 100 and automatically update it by 1 unit every time a new instance is Created.

HINT: USE CLASS VAR AND INIT