<a href="https://colab.research.google.com/github/SachinScaler/May24Python2/blob/main/OOPS_2_Dunders%2C_Inheritance%7CLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(type(5))

<class 'int'>

In [ ]:
a = 5
if a: # "", None and 0
    print("Hello")

In [2]:
class A:
    pass

dir(A)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [3]:
class A:
    pass

a = A()
print(a)

<__main__.A object at 0x780904aa6d70>

In [4]:
class A:
    pass

a = A()
print(a)

<__main__.A object at 0x780904aa7a60>

In [5]:
class A:
    def __str__(self): # defines what happen when you print the object of instance A
        return "Hi I am an Instance of A."

a = A()
print(a)

Hi I am an Instance of A.

In [8]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage


c1 = Car("Nexon", 12)
c2 = Car("Altroz", 15)

In [9]:
c1 > c2

TypeError: '>' not supported between instances of 'Car' and 'Car'

In [16]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage

    def __gt__(self,sec_obj):
        return self.mileage > sec_obj.mileage


c1 = Car("Nexon", 12)
c2 = Car("Altroz", 15)

In [17]:
c1 > c2

False

In [18]:
c3 = Car("Nexon", 20)
c3 > c1

True

> # __gt__
==# __eq__

In [19]:
c1 + c2

TypeError: unsupported operand type(s) for +: 'Car' and 'Car'

```
Find the appropriate dunder and override it to create and return new car instance with names concatenated and mileage added
```

what is the difference between `__repr__ and __str__`

In [20]:
class A:
    def __repr__(self): # defines what happen when you print the object of instance A
        return "Hi I am an Instance of A."

a = A()
print(a)

Hi I am an Instance of A.

In [25]:
class A:
    def __init__(self, num):
        self.num = num

    def __add__(self, obj):
        return self.num+obj.num
a1 = A(10)
a2 = A(20)

In [27]:
a1+a2

30

### Inheritance

In [30]:
class Parent:
    pass

class Child(Parent): # child inherits all public properties and methods of parent
    pass

In [31]:
class ScalerMember:
    def __init__(self,name,id):
        self.name = name
        self.id = id

class Learner:
    def __init__(self,name, id, course_enrolled):
        self.name = name
        self.id = id
        self.course_enrolled = course_enrolled

class Instructor:
    def __init__(self,name, id, course_taught):
        self.name = name
        self.id = id
        self.course_taught = course_taught


in1 = Instructor("Sachin", 101, "DSML")
ln1 = Learner("Pratyush", "L1", "DSML")

In [36]:
class ScalerMember:
    def __init__(self,name,id):
        self.name = name
        self.id = id

class Learner(ScalerMember):
    def __init__(self, name, id, course_enrolled):
        super().__init__(name, id) # immediate parents intializer is accessed and executed
        self.course_enrolled = course_enrolled

class Instructor(ScalerMember):
    def __init__(self, name, id, course_taught):
        super().__init__(name, id)
        self.course_taught = course_taught


in1 = Instructor("Sachin", 101, "DSML")
ln1 = Learner("Pratyush", "L1", "DSML")

In [37]:
in1.__dict__

{'name': 'Sachin', 'id': 101, 'course_taught': 'DSML'}

In [38]:
class A:
    def do_something(self):
        print("I am present in Parent!", end=" ")

class B(A):
    def do_something(self):
        super().do_something() # call parents do something
        print("I am present in Child!", end=" ")

b = B()
b.do_something()

I am present in Parent! I am present in Child!

In [42]:
class A:
    def do_something(self):
        print("I am present in Parent!", end=" ")

class B(A):
    pass

b = B()
b.do_something()

I am present in Parent!

In [45]:
class BankAccount:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance

    def withdrawl(self, amount):
        self.balance -= amount

    def deposit(self, amount):
        self.balance += amount

    def show_bal(self):
        return self.balance

ac1 = BankAccount("kamlesh", 98)
ac1.show_bal()

98

In [46]:
ac1.deposit(100)
ac1.show_bal()

198

In [48]:
ac1.balance=100000000000000000000 # update balance without deposit func

In [49]:
ac1.show_bal()

100000000000000000000

In [50]:
class BankAccount:
    def __init__(self, name, balance):
        self.name = name
        self.__balance = balance

    def withdrawl(self, amount):
        self.__balance -= amount

    def deposit(self, amount):
        self.__balance += amount

    def show_bal(self):
        return self.__balance

ac1 = BankAccount("kamlesh", 98)
ac1.show_bal()

98

In [51]:
ac1.deposit(100)
ac1.show_bal()

198

In [52]:
ac1.balance=100000000000000000000 # update balance without deposit func

In [53]:
ac1.show_bal()

198

In [54]:
ac1.__balance=100000000000000000000 # update balance without deposit func

In [55]:
ac1.show_bal()

198

In [56]:
ac1._BankAccount__balance=100000000000000000000 # update balance without deposit func

In [57]:
ac1.show_bal()

100000000000000000000

In [71]:
class A:
    x = 10
    def __init__(self, a):
        self.a = a

class B(A):
    x = 20
    def __init__(self, a, b):
        super().__init__(a)
        self.b = b

class C(B):
    x = 30
    def __init__(self, a, b, c):
        super().__init__(a,b)
        self.c = c

c1 = C(10,20,30)
c1.__dict__

{'a': 10, 'b': 20, 'c': 30}

In [72]:
c1.x

30

In [86]:
C.mro()

[__main__.C, __main__.A, __main__.B, object]

In [87]:
class A:
    x = 10
    def __init__(self, a):
        self.a = a

class B:
    x = 20
    def __init__(self, a, b):
        super().__init__(a)
        self.b = b

class C(A,B):
    x = 30
    def __init__(self, a, b, c):
        super().__init__(a,b)# class A's Init
        self.c = c


c1 = C(10,20,30)
c1.__dict__

TypeError: A.__init__() takes 2 positional arguments but 3 were given

In [ ]:
C.__mro__

In [90]:
class A:
    x = 10
    def __init__(self, a):
        self.a = a

class B:
    x = 20
    def __init__(self, a, b):
        super().__init__(a)
        self.b = b

class C(B, A):
    def __init__(self, a, b, c):
        super().__init__(a,b)# B
        self.c = c


c1 = C(10,20,30)
c1.__dict__

{'a': 10, 'b': 20, 'c': 30}

In [91]:
c1.x

20

In [92]:
class A:
    x = 10

class B:
    x = 20

class C(A, B):
    pass


c1 = C()
c1.x

10

In [93]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass

class D(A):
    x = 5

class E(C, D):
    pass


E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

### HOW CLASS VARIABLE BEHAVES IN CASE OF IMMUTABLE DATA TYPE

In [94]:
class A:
    x = 10


a1 = A()
a2 = A()

print(a1.x, a2.x, A.x)

10 10 10

In [95]:
print(id(a1.x), id(a2.x), id(A.x))

131980423692816 131980423692816 131980423692816

In [96]:
A.x = 99 # updating ClassVar using ClassName
print(a1.x, a2.x, A.x)

99 99 99

In [97]:
print(id(a1.x), id(a2.x), id(A.x))

131980423695664 131980423695664 131980423695664

In [98]:
a1.x = 50 # updating ClassVar using instance
print(a1.x, a2.x, A.x)

50 99 99

NOTE: THE ABOVE CODE DOESN"T CHANGE CLASS VAR. Instead it creates a new instance variable x only for a1

### HOW CLASS VARIABLE BEHAVES IN CASE OF MUATABLE DATA TYPE

In [100]:
class A:
    x = [10]


a1 = A()
a2 = A()

print(a1.x, a2.x, A.x)
print(id(a1.x), id(a2.x), id(A.x))

[10] [10] [10]
131979783053824 131979783053824 131979783053824

In [101]:
A.x.append(99) # updating ClassVar using ClassName
print(a1.x, a2.x, A.x)
print(id(a1.x), id(a2.x), id(A.x))

[10, 99] [10, 99] [10, 99]
131979783053824 131979783053824 131979783053824

In [102]:
a1.x.append(50) # updating ClassVar using instance
print(a1.x, a2.x, A.x)

[10, 99, 50] [10, 99, 50] [10, 99, 50]

In [103]:
print(id(a1.x), id(a2.x), id(A.x))

131979783053824 131979783053824 131979783053824

In [109]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    def display(self):
        return f'Roll: {self.roll} Marks: {self.marks}'

student1 = Student(34,'A')
student1.age = 17
print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A Age: 17

In [105]:
student1.display()

Roll: 34 Marks: A

In [107]:
print(student1.display())

Roll: 34 Marks: A None